@{ 
    Layout = "_SecondLayout";
}
<section id="header">
    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="col-6 col-12-medium">

                    <!-- Banner Copy -->
                    <p>Выберите область редактирования</p>
                    <a asp-action="Comments" asp-controller="Admin" class="button-large">Комментарии</a>
                    <a asp-action="Orders" asp-controller="Admin" class="button-large">Заказы</a>

                </div>
            </div>
        </div>
    </div>
</section>